@import './base.css';

#app {
  background: #ede8f5;
  margin: 0 auto;
  color: #3d52a0;
}

a,
.green {}

svg {
  fill: #3d52a0;
}

@media (hover: hover) {
  a:hover {}
}

@media (min-width: 1024px) {
  body {}

  #app {}
}
